
@font-face {
font-family: 'MaPolicePersonnalisée';
src: url('police/Lobster/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "mapo";
    src: url('police/Playwrite_DE_SAS/PlaywriteDESAS-VariableFont_wght.ttf') format('truetype');
}



* {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.scroll {
    color : white;
    text-decoration: none;
    position: absolute;
    bottom : 160px;

}



body{
    margin: 0 auto;
   
}

header {
    display: flex;
    align-items: center;
    background-color:green;
}

header img{
    width: 150px
}

section.top-page {
    background: url('../images/Capture\ d’écran\ 2025-09-30\ 112846.png');
    background-size: cover;
    height:80vh;
    padding: 20px 50px;

}

/*page de bienvenue*/

.big-title {
    color:white;
    font-size:80px;
    font-weight: 100;
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

/* menu de navigation */

.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: red;
    align-items: center;
    width: 2000px;
    margin-left: 0;
}

.nav li {
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inter {
    background-color: blue;
    width : 100px;
    text-align: center;
}

/* service */

.service {
    display:flex;
    background-color: red;
    justify-content: space-between;
    margin: 50px;
}

.service-item {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.delivery {
    color: rgb(34, 144, 147);
    align-items: center;
    background-color: green;
    
}

.service p {
    color: black;
    align-items: center;
    background-color: white;
    
}

/* 1er info */

.section-title {
    background-color: green;
    font-weight: 100;
    font-size: 50px;
    font-family: fantasy;
    color: black;
    position: relative;
}

.section-title::before{
    content: "";
    position: absolute;
    background-color: red;
    width: 500px;
    height: 7px;
    bottom:0;
}


.erinfo {
    margin: 100px;
}




.photos {
    background-color: black;
    min-height: 500px;
    display:flex;
flex-wrap: wrap;
}



.image-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex:1;
}

.image1 {
    background-image: url(../images/);
}

.image2 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 112846.png);
}

.image3 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 112759.png);
}

.image4 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 113017.png);
}


.image-detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.356);
    padding:5px 20px;

}

.image-nom {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.image-date {
    color: cyan;
    font-weight: 800;
    line-height: 3px;
    font-size: 14px;
}

/* a propos de toi */


.deuxiemeinfo {
    color: black;
    margin: 100px;
}

.photos-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.image-grid1{
    background-image: url(../images/dessin/fiertée.png);
    grid-column: 1/3;
    grid-row: 1/3;
}
.image-grid2{
    background-image: url(../images/dessin/force.png);
    grid-column: 3/5;
}
.image-grid3{
    background-image: url(../images/dessin/union.png);
    grid-column: 3/5;
}
.image-grid4{
    background-image: url(../images/dessin/danse\ de\ la\ brume.png);
    grid-column: 1;
    grid-row: 3/5;
}
.image-grid5{
    background-image: url(../images/dessin/tous\ gris.png);
    grid-column: 2/4;
    grid-row: 3/5;
}
.image-grid6{
    background-image: url(../images/motif/losange.png);
    grid-column: 4;
    grid-row: 3/5;
}
