
@font-face {
font-family: 'MaPolicePersonnalisée';
src: url('police/Lobster/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "mapo";
    src: url('police/Playwrite_DE_SAS/PlaywriteDESAS-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'bauhaus-93';
    src: url('police/bauhaus-93/BAUHS93.ttf') format('truetype');
}





body{
    margin: 0 auto;
   background-color: rgb(255, 255, 255);
}

.creation {
    background-color: #000000;
}

header {
    display: flex;
    align-items: center;

    
}

header img{
    width: 1000px;
    
}


section.top-page {
    
    background-image: url('../images/motif/losange.png');
    background-size: cover;
    height:100%;
    padding: 0px 0px;
    margin-left: 0px;

}

/*page de bienvenue*/

.big-title {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 300px;
    border-top-right-radius: 100px;
    box-shadow: 0px -30px rgb(0, 0, 0);
    color:rgb(132, 0, 255);
    background-color: rgb(255, 255, 255);
    padding: 50px;
    font-size:100px;
    font-weight: 100;
    font-family:'bauhaus-93';
    max-width: 1000px;
    
}
/* présentation */



.presentation1 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 100px);


    background-color: rgb(0, 0, 0);
    box-shadow: 0px 30px rgb(132, 0, 255);

    
    color: rgb(255, 255, 255);
    margin-left: 200px;
    margin-top: -40px;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    padding: 30px;
    height: 300px;
}

.presentation2 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 100px);


    background-color: rgb(0, 0, 0);
    box-shadow: 0px 30px rgb(132, 0, 255);

    
    color: rgb(255, 255, 255);
    margin-right: 200px;
    margin-top: -40px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    padding: 30px;
    height: 300px;
}

.presentation3 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 100px);


    background-color: rgb(255, 255, 255);
    box-shadow: 0px 30px rgb(132, 0, 255);

    
    color: rgb(255, 255, 255);
    margin-top: -40px;
    margin-bottom: -40px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 30px;
    height: 100px;
}

.img-rond {
    border-radius: 200px;
    height: 20em; /* hauteur du parent */
    line-height: 20em; /* hauteur de ligne (identique) */

    background: url('../images/motif/logo.jpg');
    align-items: center;
    width: 300px;
    height: 300px;

    position: relative;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'bauhaus-93';
    font-size: 40px;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1;
}

p{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifZS;
    font-size: 25px;
    grid-column: 2/5;
    grid-row: 2;
}

/* menu de navigation */

.nav {
    display: flex;
    background-color: rgb(0, 0, 0);

    box-shadow: 0px 10px #00000069;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    padding-top: 100px;
    width:2100px;
    margin: 0;
}

.nav li {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    width: 200px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
    flex-direction: column;
    align-items: center;
}

.inter {
    width : 100px;
    height: 40px; /* Définit une hauteur fixe */
    text-align: center;
}

/* service */

.service {
    background-image: url('../images/motif/losange.png');
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:0px;
    margin-top: 200px;
}

.service-item {

    background-color: black;
    margin: 10px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.delivery {
    color: rgb(255, 255, 255);
    font-family: 'bauhaus-93';
    font-size: 60px;
    align-items: center;
    
}

.service p {
    align-items: center;
    color: whitesmoke;
    width: 200px;
    height: 200px;
    font-family: 'bauhaus-93';
    font-size: 40px;    
    
}

.bas {
    color: rgb(255, 255, 255);
    font-family: 'bauhaus-93';
    font-size: 60px;
    align-items:end;
}

/* .espace {
    color: #eeb60000;
    justify-content: space-between;
    width: 1000px;
    display: flex;
} */



/* mes formations */

.erinfo {
    background-color: #eeb600;
    padding: 0px 0px;
    margin-left: 0px;
}

.section-title {
    margin-left: 0px;
    margin-bottom: 150px;
    margin-top: 300px;
    background-color: #ffffff;
    box-shadow: 0px -30px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    box-sizing: border-box;

    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    text-align: center;
    font-weight: 100;
    font-size: 100px;
    font-family: 'bauhaus-93';
    position: relative; 
    
}

.section-title::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    
    width:500px;
    height: 7px;
    bottom:0;
}

.paragraphe {
    color: rgb(12, 8, 8);
    background-color: whitesmoke;
    display: flex;
    font-size: 30px;
}


.erinfo {
    margin: 100px;
}




.photos {
    background-color: black;
    min-height: 500px;
    display:flex;
    flex-wrap: wrap;
}



.image-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex:1;
}

.image1 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 112930.png);
}

.image2 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 112846.png);
}

.image3 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 112759.png);
}

.image4 {
    background-image: url(../images/Capture\ d’écran\ 2025-09-30\ 113017.png);
}


.image-detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    padding:5px 20px;

}

.image-nom {
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    line-height: 3px;
}

.image-date {
    color: rgb(0, 0, 0);
    font-weight: 800;
    line-height: 3px;
    font-size: 14px;
}

/* mes creations */


.deuxiemeinfo {
    color: rgb(255, 255, 255);
    margin: 100px;
}

.photos-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.image-grid1{
    background-image: url(../images/dessin/fiertée.png);
    grid-column: 1/3;
    grid-row: 1/3;
}
.image-grid2{
    background-image: url(../images/dessin/force.png);
    grid-column: 3/5;
}
.image-grid3{
    background-image: url(../images/dessin/union.png);
    grid-column: 3/5;
}
.image-grid4{
    background-image: url(../images/dessin/danse\ de\ la\ brume.png);
    grid-column: 1;
    grid-row: 3/5;
}
.image-grid5{
    background-image: url(../images/dessin/tous\ gris.png);
    grid-column: 2/4;
    grid-row: 3/5;
}
.image-grid6{
    background-image: url(../images/motif/losange.png);
    grid-column: 4;
    grid-row: 3/5;
}

/* animations */

